* {
  margin: 0;
  padding: 0;
}
#jumbotron {
  width: 100%;
  padding-top: 6rem;
  padding-bottom: 0.5rem;
}
.navbar {
  margin-top: 1rem;
  margin-left: 5%;
  background-color: rgb(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 1rem;
  width: 90%;
}
.navbar a {
  font-family: "Sarabun", sans-serif;
  font-size: 20px;
  color: whitesmoke;
}
.navbar a:hover {
  color: yellowgreen;
}
.dropdown a {
  color: black;
}
.dropdown a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: black;
}
/* Keranjang Saya */
.text-judul-halaman {
  margin-left: 38%;
  font-family: "Sarabun", sans-serif;
  color: black;
  padding: 0.5rem;
  width: 25%;
  border-radius: 10px;
  text-align: center;
}
.text-dark {
  text-align: left;
  margin-top: 50px;
  font-family: "Sarabun", sans-serif;
  font-weight: bold;
}

/*  */
#rincian,
.rincianpemesanan {
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
}
.rincianpemesanan {
  margin-left: -1.3rem !important;
  margin-right: -1.3rem !important;
}

.rincianpemesanan .gambar img {
  margin-top: 0.8rem;
  width: 30%;
  height: 80%;
}

.rincianpemesanan .rinciankata {
  margin-top: 0.8rem;
  font-size: 0.7rem;
}
.rincianpemesanan .rinciankata p {
  height: 0.2rem;
}
.rincianpemesanan .rincianstatus {
  margin-top: 2rem;
}
