* {
  margin: 0;
  padding: 0;
}
#jumbotron {
  background-image: url(Image/harvest-still-life-vegetables-fresh-wallpaper-preview.jpg);
  max-width: 100%;
  padding-top: 15rem;
  padding-bottom: 5rem;
}
.navbar {
  margin-top: 1rem;
  margin-left: 5%;
  margin-bottom: 100px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 1rem;
  width: 90%;
}
.navbar a {
  font-family: "Sarabun", sans-serif;
  font-size: 20px;
  color: whitesmoke;
}
.navbar a:hover {
  color: yellowgreen;
}
.dropdown a {
  color: black;
}
.dropdown a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: black;
}
.halaman {
  padding: 2rem;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-bottom: 130px;
  color: whitesmoke;
}
.halaman h1 {
  font-family: "Bangers", cursive;
}
.halaman p {
  font-family: "Marck Script", cursive;
}
#Fitur .container {
  font-family: "Sarabun", sans-serif;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

#Populer .container {
  font-family: "Sarabun", sans-serif;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.bg-light {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}
.Populer-caption {
  text-align: center;
  background-color: #fff;
}
