* {
  margin: 0;
  padding: 0;
}
/* Navbar */
#jumbotron {
  background-image: url(Image/harvest-still-life-vegetables-fresh-wallpaper-preview.jpg);
  padding-top: 15rem;
  padding-bottom: 5rem;
}
.navbar {
  margin-top: 1rem;
  margin-left: 5%;
  margin-bottom: 100px;
  background-color: rgb(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 1rem;
  width: 90%;
}
.navbar a {
  font-family: "Sarabun", sans-serif;
  font-size: 20px;
  color: whitesmoke;
}
.navbar a:hover {
  color: yellowgreen;
}
.dropdown a {
  color: black;
}
.dropdown a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: black;
}
.masthead .halaman {
  padding: 2rem;
  text-align: center;
  margin-bottom: 130px;
  color: whitesmoke;
}

.halaman .masthead-subheading {
  font-family: "Bangers", cursive;
  font-size: 5rem;
  width: 100%;
}
.halaman .masthead-heading {
  font-family: "Marck Script", cursive;
  font-size: 2rem;
  width: 100%;
}
/* Akhir Navbar */
#Fitur .container {
  font-family: "Sarabun", sans-serif;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* Poupler */

#Populer .container {
  font-family: "Sarabun", sans-serif;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.bg-light {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}
.Populer-caption {
  text-align: center;
  background-color: #fff;
}
#Populer .populer-item {
  max-width: 26rem;
  margin-left: auto;
  margin-right: auto;
}
#Populer .populer-item .Populer-link {
  position: relative;
  display: block;
  margin: 0 auto;
}
#Populer .populer-item .Populer-link .Populer-hover {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity ease-in-out 0.25s;
}
#Populer .populer-item .Populer-link .Populer-hover .Populer-hover-content {
  font-size: 1.25rem;
  color: white;
}
#Populer .populer-item .Populer-link:hover .Populer-hover {
  opacity: 1;
}
#Populer .populer-item .Populer-caption {
  padding: 1.5rem;
  text-align: center;
  background-color: #fff;
  width: 100%;
}
#Populer .populer-item .Populer-caption .Populer-caption-heading {
  font-size: 1.5rem;
  font-family: "Sarabun", sans-serif;
  font-weight: 700;
  margin-bottom: 0;
}
#Populer .populer-item .Populer-caption .Populer-caption-subheading {
  font-style: italic;
  font-family: "Sarabun", sans-serif;
}
#Populer .populer-item img {
  width: 100%;
  height: 250px;
}
#Populer .populer-item .Populer-link .Populer-hover {
  width: 100%;
}
.Populer-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}
.Populer-modal .modal-content {
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
}
.Populer-modal .modal-content h2,
.Populer-modal .modal-content .h2 {
  font-size: 3rem;
  line-height: 3rem;
}
.PopulerPopuler-modal .modal-content p.item-intro {
  font-style: italic;
  margin-bottom: 2rem;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.Populer-modal .modal-content p {
  margin-bottom: 2rem;
}
.Populer-modal .modal-content ul.list-inline {
  margin-bottom: 2rem;
}
.Populer-modal .modal-content img {
  margin-bottom: 2rem;
}
.Populer-modal .close-modal {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  background-color: transparent;
}
.Populer-modal .close-modal:hover {
  opacity: 0.3;
}

/* Akhir Populer */
/* Team */
.team-member {
  text-align: center;
  margin-bottom: 2rem;
}
.team-member img {
  width: 150px;
  height: 150px;
  margin-bottom: 1rem;
  border-radius: 100%;
  border: 10px double black;
}
#team {
  font-family: "Sarabun", sans-serif;
}
#team h4 {
  margin-bottom: 1rem;
}

#team .container {
  font-family: "Sarabun", sans-serif;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
