* {
  margin: 0;
  padding: 0;
}
#list-barang {
  background-image: url(Image/harvest-still-life-vegetables-fresh-wallpaper-preview.jpg);
  padding-top: 6rem;
  padding-bottom: 0.5rem;
}
.navbar {
  margin-top: 1rem;
  margin-left: 5%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 1rem;
  width: 90%;
}
.navbar a {
  font-family: "Sarabun", sans-serif;
  font-size: 20px;
  color: whitesmoke;
}
.navbar a:hover {
  color: yellowgreen;
}
.dropdown a {
  color: black;
}
.dropdown a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: black;
}
/* Judul Halaman */
.text-judul-halaman {
  margin-left: 38%;
  font-family: "Sarabun", sans-serif;
  color: whitesmoke;
  padding: 0.5rem;
  width: 25%;
  border-radius: 10px;
  text-align: center;
}
/* AKhir Judul Halaman  */
/* Barang */
#Barang .container {
  font-family: "Sarabun", sans-serif;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.bg-light {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}
.Barang-caption {
  text-align: center;
  background-color: #fff;
}
#Barang .Barang-item {
  max-width: 26rem;
  margin-left: auto;
  margin-right: auto;
}
#Barang .Barang-item .Barang-link {
  position: relative;
  display: block;
  margin: 0 auto;
}
#Barang .Barang-item .Barang-link .Barang-hover {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity ease-in-out 0.25s;
}
#Barang .Barang-item .Barang-link .Barang-hover .Barang-hover-content {
  font-size: 1.25rem;
  color: white;
}
#Barang .Barang-item .Barang-link:hover .Barang-hover {
  opacity: 1;
}
#Barang .Barang-item .Barang-caption {
  padding: 1.5rem;
  text-align: center;
  background-color: #fff;
  width: 100%;
}
#Barang .Barang-item .Barang-caption .Barang-caption-heading {
  font-size: 1.5rem;
  font-family: "Sarabun", sans-serif;
  font-weight: 700;
  margin-bottom: 0;
}
#Barang .Barang-item .Barang-caption .Barang-caption-subheading {
  font-style: italic;
  font-family: "Sarabun", sans-serif;
}
#Barang .Barang-item img {
  width: 100%;
  height: 250px;
}
#Barang .Barang-item .Barang-link .Barang-hover {
  width: 100%;
}
.Barang-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}
.Barang-modal .modal-content {
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
}
.Barang-modal .modal-content h2,
.Barang-modal .modal-content .h2 {
  font-size: 3rem;
  line-height: 3rem;
}
.BarangBarang-modal .modal-content p.item-intro {
  font-style: italic;
  margin-bottom: 2rem;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.Barang-modal .modal-content p {
  margin-bottom: 2rem;
}
.Barang-modal .modal-content ul.list-inline {
  margin-bottom: 2rem;
}
.Barang-modal .modal-content img {
  margin-bottom: 2rem;
}
.Barang-modal .close-modal {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  background-color: transparent;
}
.Barang-modal .close-modal:hover {
  opacity: 0.3;
}
/* AKhir Barang */
