* {
  margin: 0;
  padding: 0;
}
#jumbotron {
  width: 100%;
  padding-top: 6rem;
  padding-bottom: 0.5rem;
}
.navbar {
  margin-top: 1rem;
  margin-left: 5%;
  background-color: rgb(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 1rem;
  width: 90%;
}
.navbar a {
  font-family: "Sarabun", sans-serif;
  font-size: 20px;
  color: whitesmoke;
}
.navbar a:hover {
  color: yellowgreen;
}
.dropdown a {
  color: black;
}
.dropdown a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: black;
}
/* Keranjang Saya */
.text-judul-halaman {
  margin-left: 38%;
  font-family: "Sarabun", sans-serif;
  color: black;
  padding: 0.5rem;
  width: 25%;
  border-radius: 10px;
  text-align: center;
}
.text-dark {
  text-align: left;
  margin-top: 50px;
  font-family: "Sarabun", sans-serif;
  font-weight: bold;
}

/* konten */
form {
  padding: 2rem;
}
#rincianpembayaran {
  margin-top: -5rem;
  padding-left: 8rem;
  padding-right: 8rem;
  font-size: 0.8rem;
}
.bg-light {
  background-color: aqua;
}
